@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* general effect */
body {
  font-family: "Karla", sans-serif;
}
h5 {
  color: #848484;
}
h4,
h3,
a {
  color: black;
}
h4:hover,
h3:hover,
a:hover {
  color: #848484;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* header */

header,
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 3% 0 6%;
}
header ul li {
  padding-left: 45px;
}

/* section general */

img {
  width: 100%;
}
img:hover {
  opacity: 0.3;
}
section {
  padding-top: 15%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 500px);
  justify-content: center;
  align-items: center;
  grid-gap: 2%;
}
.container1 {
  margin-top: 50px;
  grid-column: 1/4;
  grid-row: 1/2;
}
.container2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.container3 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.container4 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.container5:not(#kurz .container5) {
  grid-column: 1/2;
  grid-row: 3/4;
}
.container6:not(#kurz) {
  grid-column: 2/3;
  grid-row: 3/4;
}
.container7:not(#kurz) {
  grid-column: 3/4;
  grid-row: 3/4;
}
section div div {
  /* background-color: yellow; */
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section h5 {
  padding-top: 7px;
}
.container1 h5 {
  padding-bottom: 130px;
}
/* footer */
footer {
}
footer article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* farbe: #323a45 / #848484  */
/* smartphone */
@media screen and (max-width: 600px) {
  body {
    background-color: mediumseagreen;
  }
}
